#DB_HOST= # your Database host
#DB_PORT= # your Database port
#DB_USER= # your Database user
#DB_PASSWORD= # your Database password
#DB_NAME= # your Database name

#HTTP_PORT= # your HTTP port
#WEB_SOCKET_PORT= # your WebSocket port
